<div class="wedstrijden-container">

  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Wedstrijden laden...</p>
  </div>

  <div *ngIf="errorMessage" class="error-banner mat-elevation-z2">
    <mat-icon>error</mat-icon>
    <span>{{ errorMessage }}</span>
    <button mat-icon-button (click)="errorMessage = null">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="!isLoading && !errorMessage">
    <div *ngFor="let wedstrijd of wedstrijden; trackBy: trackByWedstrijd" class="wedstrijd-card">
      <div class="wedstrijd-header">{{ wedstrijd.datum | date:'dd-MM-yyyy' }}</div>
      <div class="wedstrijd-teams">
        <span class="team team-wit">
          <img src="assets/images/football-shirt-white.png" alt="Team Wit" />
          {{ wedstrijd.teamWit }}
        </span>
        <span class="wedstrijd-score">{{ wedstrijd.scoreWit }} - {{ wedstrijd.scoreRood }}</span>
        <span class="team team-rood">
          <img src="assets/images/football-shirt-red.png" alt="Team Rood" />
          {{ wedstrijd.teamRood }}
        </span>
      </div>
      <div class="wedstrijd-locatie">Locatie: {{ wedstrijd.locatie }}</div>
      <div class="wedstrijd-specials">
        <span *ngIf="wedstrijd.teamGeneratie" class="team-generatie"
              [class.automatisch]="wedstrijd.teamGeneratie === 'Automatisch'"
              [class.handmatig]="wedstrijd.teamGeneratie === 'Handmatig'">
          Teams: <b>{{ wedstrijd.teamGeneratie }}</b>
          <mat-icon *ngIf="wedstrijd.teamGeneratie === 'Automatisch'" class="auto-icon">smart_toy</mat-icon>
          <mat-icon *ngIf="wedstrijd.teamGeneratie === 'Handmatig'" class="manual-icon">person</mat-icon>
        </span>
        <span *ngIf="wedstrijd.zlatan" [style.margin-left]="wedstrijd.teamGeneratie ? '1rem' : '0'">Zlatan: <b>{{ wedstrijd.zlatan }}</b></span>
        <span *ngIf="wedstrijd.ventiel" style="margin-left:1rem;">Ventiel: <b>{{ wedstrijd.ventiel }}</b></span>
      </div>
    </div>
    <div *ngIf="wedstrijden.length === 0" class="geen-wedstrijden">
      <p>Er zijn nog geen gespeelde wedstrijden met uitslag.</p>
    </div>
  </ng-container>
</div>
