@import '../../../../styles_variables.scss';

.wedstrijden-container {
  .fab-add {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
  }

  .table-container {
    overflow-x: auto;
  }

  .wedstrijden-table {
    width: 100%;
  }

  .loading-container {
    text-align: center;
    padding: 40px;
    color: $secondary-color;
  }

  @media screen and (max-width: $bp-tablet) {
    .wedstrijden-table {
      .hide-mobile { display: none; }
    }
  }
}
