@import '../../../../styles_variables.scss';

.spelers-container {
  .fab-add {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 100;
  }

  .table-container {
    overflow-x: auto;
  }

  .spelers-table {
    width: 100%;
  }

  .loading-container {
    text-align: center;
    padding: 40px;
    color: $secondary-color;
  }

}
