<mat-card class="attendance-card">
  <mat-card-content>
    <div *ngIf="isLoadingPlayers && !isLoadingStatus" class="loading-spinner">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
      <p>Laden van aanwezigheid data...</p>
    </div>


    <div *ngIf="!isLoadingPlayers">
      <app-next-match-info [nextMatchInfo]="nextMatchInfo"></app-next-match-info>

      <mat-form-field appearance="fill" class="player-select">
        <mat-label>Selecteer Speler</mat-label>
        <mat-select [(ngModel)]="selectedPlayer" (selectionChange)="onPlayerSelectionChange()" name="player" [disabled]="isLoadingStatus">
          <mat-option *ngFor="let player of players" [value]="player">
            {{ player }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedPlayer" class="attendance-buttons">
        <div *ngIf="isLoadingStatus" class="saving-indicator">
          <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
          <span>Opslaan...</span>
        </div>

        <button mat-fab extended color="primary" class="btn-yes" (click)="setAttendance('Ja')" [disabled]="isLoadingStatus || attendanceStatus === 'Ja'">
          <mat-icon>check_circle</mat-icon> Ik doe mee
        </button>
        <button mat-fab extended color="warn" class="btn-no" (click)="setAttendance('Nee')" [disabled]="isLoadingStatus || attendanceStatus === 'Nee'">
          <mat-icon>cancel</mat-icon> Ik kan niet
        </button>

        <div class="status-confirmation" *ngIf="attendanceStatus && !isLoadingStatus">
          <ng-container [ngSwitch]="attendanceStatus">
            <div *ngSwitchCase="'Ja'" class="status-row status-yes">
              <span>Je hebt aangegeven aanwezig te zijn.</span>
              <mat-icon class="icon-green">check_circle</mat-icon>
            </div>
            <div *ngSwitchCase="'Nee'" class="status-row status-no">
              <span>Je hebt aangegeven afwezig te zijn.</span>
              <mat-icon color="warn">cancel</mat-icon>
            </div>
            <div *ngSwitchCase="'Misschien'" class="status-row status-maybe">
              <span>Je hebt aangegeven misschien aanwezig te zijn.</span>
              <mat-icon color="accent">help_outline</mat-icon>
            </div>
          </ng-container>
        </div>
      </div>

       <div *ngIf="!selectedPlayer && players.length > 0 && !isLoadingStatus" class="select-prompt">
         <p>Selecteer je naam om je aanwezigheid door te geven.</p>
       </div>

       <div *ngIf="players.length === 0 && !isLoadingPlayers">
         <p>Geen spelers gevonden.</p>
       </div>
    </div>

    <div class="attendance-overview" *ngIf="attendanceList.length > 0">
      <div class="attendance-col">
        <h3>Aanwezig</h3>
        <ng-container *ngFor="let item of attendanceList" >
          <ng-container *ngIf="item.status === 'Ja'">
            <app-player-card *ngIf="item.playerObj" [player]="item.playerObj"></app-player-card>
            <span *ngIf="!item.playerObj">{{ item.speler }}</span>
          </ng-container>
        </ng-container>
      </div>
      <div class="attendance-col">
        <h3>Afwezig</h3>
        <ng-container *ngFor="let item of attendanceList">
          <ng-container *ngIf="item.status === 'Nee'">
            <app-player-card *ngIf="item.playerObj" [player]="item.playerObj"></app-player-card>
            <span *ngIf="!item.playerObj">{{ item.speler }}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>
