<div class="trend-chart-container" *ngIf="series.length > 0; else emptyState">
  <ngx-charts-line-chart
    [results]="series"
    [curve]="curve"
    [scheme]="colorScheme"
    [autoScale]="true"
    [xAxis]="true"
    [yAxis]="true"
    [showGridLines]="true"
    [gradient]="true"
    [tooltipDisabled]="false"
    [view]="[700, 280]"
    [legend]="false"
    [animations]="true"
  ></ngx-charts-line-chart>
</div>
<ng-template #emptyState>
  <p class="empty">Onvoldoende wedstrijden voor een trendlijn.</p>
</ng-template>
