@import '../../../../styles_variables';

.trend-chart-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.empty {
  color: $text-secondary;
  font-style: italic;
  padding: 1rem;
  text-align: center;
}
