<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav" [fixedInViewport]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/klassement" (click)="sidenav.close()">Klassement</a>
      <a mat-list-item routerLink="/score" (click)="sidenav.close()">Score Invoeren</a>
      <a mat-list-item routerLink="/team-generator" (click)="sidenav.close()">Team Generator</a>
      <a mat-list-item routerLink="/aanwezigheid" (click)="sidenav.close()">Aanwezigheid</a>
      <a mat-list-item routerLink="/kalender" (click)="sidenav.close()">Kalender</a>
      <a mat-list-item routerLink="/wedstrijden" (click)="sidenav.close()">Wedstrijden</a>
      <a mat-list-item routerLink="/opstelling" (click)="sidenav.close()">Opstelling</a>
      <a mat-list-item routerLink="/beheer" (click)="sidenav.close()">Beheer</a>
      <a mat-list-item routerLink="/about" (click)="sidenav.close()">Over</a>
      <mat-divider *ngIf="(authService.isAuthorizedAdmin$ | async)"></mat-divider>
      <a mat-list-item (click)="logout(); sidenav.close()" *ngIf="(authService.isAuthorizedAdmin$ | async)">
        <mat-icon>logout</mat-icon>
        Uitloggen
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        class="menu-button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo-title-container">
        <img src="assets/icons/icon-72x72.png" alt="Zaalvoetbal Doorn Logo" class="toolbar-logo">
        <span class="toolbar-title">Zaalvoetbal Doorn</span>
      </div>
      <span class="spacer"></span>
      <button 
        mat-icon-button 
        (click)="installPWA()" 
        *ngIf="showInstallButton"
        matTooltip="Installeer app"
        class="install-button">
        <mat-icon>get_app</mat-icon>
      </button>
      <div class="desktop-navigation">
        <button mat-button routerLink="/leaderboard">Klassement</button>
        <button mat-button routerLink="/score">Score Invoeren</button>
        <button mat-button routerLink="/team-generator">Team Generator</button>
        <button mat-button routerLink="/aanwezigheid">Aanwezigheid</button>
        <button mat-button routerLink="/kalender">Kalender</button>
        <button mat-button routerLink="/wedstrijden">Wedstrijden</button>
        <button mat-button routerLink="/opstelling">Opstelling</button>
        <button mat-button routerLink="/beheer">Beheer</button>
        <button mat-button routerLink="/about">Over</button>
        <button mat-button (click)="logout()" *ngIf="(authService.isAuthorizedAdmin$ | async)">
          <mat-icon>logout</mat-icon>
          Uitloggen
        </button>
      </div>
    </mat-toolbar>    
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>