<h2 mat-dialog-title>Chemistry Information</h2>
<mat-dialog-content>
  <p>Player: <strong>{{ data.player.name }}</strong></p>
  <p>Best Chemistry:</p>
  <ul>
    <li>Player: <strong>{{ data.bestTeammates.best.name }}</strong></li>
    <li>Games Played: <strong>{{ data.bestTeammates.best.gamesPlayed }}</strong></li>
    <li>Games Won: <strong>{{ data.bestTeammates.best.gamesWon }}</strong></li>
    <li>Games Lost: <strong>{{ data.bestTeammates.best.gamesPlayed - data.bestTeammates.best.gamesWon - data.bestTeammates.best.gamesTied }}</strong></li>
    <li>Games Tied: <strong>{{ data.bestTeammates.best.gamesTied }}</strong></li>
  </ul>
  <p>Worst Chemistry:</p>
  <ul>
    <li>Player: <strong>{{ data.bestTeammates.worst.name }}</strong></li>
    <li>Games Played: <strong>{{ data.bestTeammates.worst.gamesPlayed }}</strong></li>
    <li>Games Won: <strong>{{ data.bestTeammates.worst.gamesWon }}</strong></li>
    <li>Games Lost: <strong>{{ data.bestTeammates.worst.gamesPlayed - data.bestTeammates.worst.gamesWon - data.bestTeammates.worst.gamesTied }}</strong></li>
    <li>Games Tied: <strong>{{ data.bestTeammates.worst.gamesTied }}</strong></li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Sluiten</button>
</mat-dialog-actions>