@import '../../../styles_variables';

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

.score-inputs {
  display: flex;
  justify-content: center; // Center the items horizontally
  align-items: center; // Align items vertically in the center
  gap: 15px; // Adjust gap between items
  margin-bottom: 20px;
  flex-wrap: wrap; // Allow items to wrap onto the next line

  mat-form-field {
    // Adjust width or min-width as needed for responsiveness
    min-width: 150px; // Example: set a minimum width
  }
}

// Media query for smaller screens
@media (max-width: $bp-mobile) {
  .score-inputs {
    flex-direction: column; // Stack items vertically
    align-items: center; // Center items in the column

    button {
      margin-top: 10px; // Add space above the button when stacked
    }
  }
}

.player-card {
  width: 300px; // Set explicit width instead of min-width
  margin-bottom: 10px;
  margin-left: auto; // Center the card within its container if needed
  margin-right: auto;
  background-color: $light-bg; 
}

.player-card-image-white {
  background-image: url('../../../assets/images/football-shirt-white.png');
  background-size: cover;
}

.player-card-image-red {
  background-image: url('../../../assets/images/football-shirt-red.png');
  background-size: cover;
}

// Ensure mat-card-header elements align items correctly
.player-card mat-card-header .mat-card-header-text {
  margin: 0 8px; // Adjust spacing if needed
}

.teams-container {
    display: flex; // Restore display: flex
    justify-content: center; // Restore justify-content
    gap: 20px; // Restore gap
    flex-wrap: wrap; // Restore flex-wrap
    margin-bottom: 20px; // Restore margin-bottom
}

.team-card {
    min-width: 300px; // Keep minimum width
    width: fit-content; // Set width based on content
    margin-bottom: 20px; // Add margin below cards
    background-color: transparent; // Remove white background
    box-shadow: none; // Remove box-shadow from team cards

    mat-card-header {
        div[mat-card-title] { // Target the title div specifically
            padding-bottom: 15px; // Add padding below the title text
        }
    }
}

// Adjustments for list items inside cards if needed
.team-card mat-list-item {
    height: auto; // Adjust height if player names wrap
    padding: 5px 0; // Add some padding
}

.futsal-doorn-btn {
  min-width: 200px;
  width: auto;
  padding: 0 24px;
}
